<div *ngIf="!gameStarted">
    <form>
        <mat-form-field class="fridge-form-field">
          <mat-label>player Name</mat-label>
          <input matInput type="text" [formControl]="playerName" (keydown.enter)="addPlayer(playerName.value)" >
          <button *ngIf="playerName" matSuffix mat-icon-button aria-label="Clear" (click)="playerName.setValue('')">
            <mat-icon aria-hidden="false" aria-label="player Name" fontIcon="close"></mat-icon>
          </button>
          <mat-error *ngIf="playerName.hasError('max')">
            Maximun 4 Players
          </mat-error>
          <mat-error *ngIf="playerName.hasError('min') && playerName.hasError('empty')">
            Player Name <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-button type="submit" disabled="{{playerName.hasError('min') || playerName.hasError('max')}}" (click)="startGame()">Start</button>
    </form>
    <ul>
      <li *ngFor="let player of players; let i=index">
        {{player.name}}
        <mat-icon aria-hidden="false" aria-label="player Name" fontIcon="close" (click)="removePlayer(i)" ></mat-icon>
      </li>
    </ul>
  </div>


  <div *ngIf="gameStarted" class="board">
    <div class="delarWrapper">
      <app-dealr *ngIf=" currentPlayerIndex !== players.length" class="delar" [hand]="delar.hand" [ngClass]="{'active-player': currentPlayerIndex === players.length}"  ></app-dealr>
      <app-player *ngIf=" currentPlayerIndex === players.length" class="delar active-player" [hand]="delar.hand" [name]="delar.name" [score]="delar.score" ></app-player>
    </div>
    <app-deck class="deck" [cards]="deck" (hitPlayer)="hitPlayer()" (playerStand)="stand()"></app-deck>
    <div class="players">
      <app-player class="player" *ngFor="let player of players; let i=index" [hand]="players[i].hand" [name]="players[i].name" [score]="players[i].score" [ngClass]="{ 'active-player': currentPlayerIndex === i }"></app-player>
    </div>
  </div>