.deck {
    position: relative;
    img{
        width: 90px;
    }
    .cards {
        width: 150px;
        height: 150px;
    }
    .card {
      position: absolute;
      top: 0;
      left: 0;
      &:nth-child(n+2) {
        top: 0.5rem;
        left: 0.5rem;
      }
      &:nth-child(n+3) {
        top: 1rem;
        left: 1rem;
      }
    }

  }